:root {
    --background-color: #ffffff;
    --logo-color: #4d5ae5;
    --main-title-color: #2e2f42;
    --main-paragraf-color: #434455;
    --right-part-logo-header: #2e2f42;
    --right-part-logo-footer: #f4f4fd;
    --portfolio-btn-text: #4d5ae5;
    --portfolio-btn-background: #f4f4fd;
    --border-color-btn-portfolio: #e7e9fc;
    --backgroung-social-icon: #4d5ae5;
    --color-social-icon: #f4f4fd;
    --customers-icon-color: #8e8f99;
    --title-media-color: #ffffff;
    --color-text-label: #8e8f99;
    --background-color-checkbox: #404bbf;
    --privacy-link-color: #4d5ae5;
    --color-text-mobile-menu: #404bbf;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--background-color);
  }
  
  h1,
  h2,
  h3,
  p {
    padding: 0;
    margin: 0;
  }
  
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  .container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* =====HEADER===== */
  
  .logotype {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    padding: 24px 0;
    margin-right: 76px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
  }
  
  .logo-footer {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
  }
  
  .right-part-logo {
    color: var(--right-part-logo-header);
  }
  .header-navigation {
  }
menu list
menu-item
.menu-link {
  position: relative;
  display: block;
  color: var(--Dark-NAVY-BLUE);
   padding-top: 24px;
    padding-bottom: 24px;
   font-weight: 500;
   text-decoration: none;
  letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    
        transition: color var(--transition);
   }
  .menu-link:hover,
.menu-link:focus {
  color: var(--Pressed-State-OCEAN);
}
.current {
  color: var(--Pressed-State-OCEAN);
}
.contact-info .link:hover,
.contact-info .link:focus {
  color: var(--Pressed-State-OCEAN);
}
.contact-link  {
  color: var(--Dark-NAVY-BLUE);
  transition: color var(--transition);
    font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;

  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contact-info:last-child {
  margin-right: 0;
}
.contact-info {
  gap: 40px;
}
.page-header {
  border-top: none;
  border-bottom: 1px solid var(--Accent-CORNFLOWER);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.address-info {
  color: var(--Text-SLATE);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item {
  display: flex;
}
/* main container settings  */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
 .modal-header {
   display: block;
   margin-bottom: 16px;
   color: var(--Dark-NAVY-BLUE);
   text-align: center;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
  }

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background-color: rgba(46, 47, 66, 0.4);
 transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--modal-background-DIARY);
  border-radius: 4px;
   width: 408px;
   padding: 24px;
   padding-top: 72px;
}
